.search-box {

	border: 1px solid @gray-4;
	border-radius: 2px;
	padding: 8px;
	margin: 32px;
	line-height: 24px;
	height: 40px;

	img {
		vertical-align: middle;
	}
	.box {
		line-height: 24px;
		margin-left: 16px;
		border: none;
		outline: none;
		color: @off-black;
	}
}