.success {
	color: @green-2 !important;
}
.container {
	padding-top: 40px;
	padding-bottom: 24px;
	min-height: 56px;

	background: @white;

	& > * {
		margin-bottom: 16px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-right: 1px solid @gray-4;

		&:last-child {
			border-right: 0;
		}
		
		@media(max-width: 768px) {
			&:nth-child(2) {
				border-right:0;
			}
		}

		span {
			text-transform: uppercase;
			.overline-title;
			color: @gray-4;
		}
		p {
			.paragraph-normal;

			text-align: center;
			padding: 0;
			margin: 0;
			padding-top: 16px;
		}

	}
}