
@white: #FFFFFF;


@off-black: #2E2E2E;

@black: #000000;
@gray-1: #3C3C3C;
@gray-2: #656565;
@gray-3: #ABABAB;
@gray-4: #DEDEDE;
@gray-5: #E8E8E8;

@grey-1: @gray-1;
@grey-2: @gray-2;
@grey-3: @gray-3;
@grey-4: @gray-4;
@grey-5: @gray-5;




@primary--2: #F0EBFF;
@primary--1: #DFD5FC;
@primary: #BBAFDD;
@primary-0: #BBAFDD;
@primary-1: #9285B8;
@primary-2: #8579A8;
@primary-3: #6E648B;
@primary-4: #645B7E;
@primary-5: #645B7E;
@primary-6: #524B68;
@primary-7: #443E56;


@secondary-1: #C9EADC;
@secondary-2: #FDD869;


@red-1: #FFB3B3;
@red-2: #FF5F5F;
@red-3: #D93D3D;


@green-1: #74CE8D;
@green-2: #48B967;
@green-3: #218D3F;


@main-bg: #FDFDFD;



@sm: 600px; 
@md: 960px; 
@lg: 1280px; 
@xl: 1920px; 