

.breadcrumb {
	&>* {
		display: inline-block;
		margin-left: 8px;
		margin-right: 8px;
		margin-top: 0;
		margin-bottom: 0;
		font-family: Inter;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		align-items: center;
		text-align: center;
		letter-spacing: -0.02em;
		text-decoration: none;
		color: @gray-3;
		vertical-align: middle;


		&:first-child {
			margin-left: 0px;
			cursor: pointer;
		}
		&:last-child {
			margin-left: 0px;
			color: @off-black;
		}
		
	}
	
	&.dark>* {
		color: @white;
		&:last-child {
			margin-left: 0px;
			color: @white;
		}
	}

	
	.bracer {
		margin-left: 8px; 
		margin-right: 8px; 
	}

	.dark-bracer {
		color: @white;
	}

}
