.bundle {
	margin-bottom: 80px;
	margin-top: 40px;
}
.section {
	margin-bottom: 80px;
	margin-top: 40px;
}
.frame {
	margin-bottom: 40px;
	margin-top: 0px;
}

.moon {    
	position: absolute; 
    right: -140px;
    top: 10px;
}

.homeFrame {
	h3 {
		.heading-1;
	}
}