.menu-container {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
	padding-top: 16px;

	.fix-container {
		// padding: 0px 87.5px;
		padding-bottom: 40px;
	}

	.bundle-title {
		.button();
		color: @primary--2;
		background: @primary-6;
		border-radius: 4px;
		padding: 4px 8px;
		margin-bottom: 16px;
		width: max-content;
		display: flex;
		align-items: center;

		img {
			width: 16px;
			height: 16px;
			margin-left: 4px;
		}
	}

	.title {
		.overline-title();
		text-align: left;
		color: @gray-3;
		padding-bottom: 8px;
	}

	.subtitle {
		.paragraph-bold();
		font-family: Inter;
		color: @off-black;
		padding-bottom: 16px;
	}

	.category {
		.paragraph-normal();
		color: @off-black;
		padding-bottom: 8px;
	}

	position: absolute;
    
    background: @white;
    z-index: 100;
    width: 100%;
}

.menu-block {
	display: block;

	a {
		text-decoration: none;
		color: @off-black;
		display: block;
	}
}