.bundles-list-container {
  .header {
    .heading-1();
    padding-top: 40px;
    padding-bottom: 16px;
  }
  .description {
    .paragraph-normal();
    padding-bottom: 40px;
  }
  .tools-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 24px;
    .tool-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 32px;
      .tool-header {
        .paragraph-normal();
        text-transform: capitalize;
        margin-left: 8px;
      }
    }
  }
  .bundles-container {
    padding-top: 40px;
  }
  .bundle-card {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
}
