.bundle-details-container {
    background: linear-gradient(179.4deg, #443E56 0.52%, #9A8DB8 199.99%);
    .up-container {
        overflow: hidden;
    }
    .breadcrumb {
        margin-top: 40px;
    }
    .bundle-header {
        margin-top: 40px;
        position: relative;
        
        .bundle-icon {
            position: absolute;
            top: -100px;
            right: 16px;
            img {
                width: 450px;
                height: 450px;
            }
        }
        .bundle-name {
            .heading-1();
            color: white;
        }
        .bundle-description {
            margin-top: 40px;
            .paragraph-normal();
            color: @primary--2;
        }
        .tool-container {
            margin-top: 16px;
            display: flex;
        }

    }
    .bundle-plugins {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}