.checkbox-container {
  width: 24px;
  height: 24px;
  background: #443E56;
  border: 1px solid #443E56;
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  .selected-container {
    border-color: #443E56;
  }
}
