.row-container {


	.main-column {
		.title-part {
			h3 {
				.heading-4;
				margin: 0 0 8px 0;
			}
		}
		.subtitle p {
			.paragraph-normal;

			margin: 0 0 8px 0;
		}

		.right-part {
			text-align: right;
			a {
				text-decoration: none;
			}
			span {
				.button();
				line-height: 24px;
				color: @primary-3;
				text-align: right;
			}
		}

		.content {

		}
	}
}