.container {
	padding-top: 40px;
}
.description {
	display: flex;
	justify-content: center;
	padding-top: 32px;
	height: 100px;
	overflow: hidden;
	text-overflow: ellipsis;

	p{
		.paragraph-normal;
	}


	@media (min-width: @md) {
		p { max-width: 75%; }
	}
}

.available-tools {
	text-align: right;

	& > span:first-child {
		text-transform: uppercase;	
		.overline-title;
		color: @gray-3;
	}
	& > span:last-child {
		* {
			width: 24px;
			height: 24px;
			padding: 0 16px;
    		vertical-align: middle;
		}
	}
}

.headerStyle {
	display: flex;
	justify-content: center;
	text-align: center;
	.heading-0;
}
.box {
	padding-top: 16px;
}

.chips {
	display: flex;
	justify-content: center;
	padding-top: 16px;
}

.author {
	display: flex;
	justify-content: center;
	padding-top: 16px;
	align-items: center;

	span {
		.paragraph-normal;
		/* Grey / 1 */
		color: @gray-1;
	}
	img {

		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		/* Primary / 3 */
		border: 1px solid @primary-3;
		border-radius: 9px;
		margin-right: 8px;
	}
}

.links {
	display: flex;
	justify-content: center;
	padding: 32px 0;
}

.stars-counter{
	margin: 16px auto;
	width: 56px;
	height: 56px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


	/* Primary / -2 */
	background: @primary--2;
	/* Primary / -1 */
	border: 2px solid @primary--1;
	box-sizing: border-box;
	border-radius: 4px;

	& > img {
		border: none;
		width: 24px;
		height: 24px;
	}

	& > span {
		.paragraph-small-bold;
	}

	cursor: pointer;
}