.container {
	padding-top: 40px;
}
.descriptionTitle {
	margin-top: 32px;
	.paragraph-normal;
	color: @gray-3;
}
.description {
	margin-top: 16px;
	display: flex;
	height: 95px;
	overflow: hidden;
	text-overflow: ellipsis;
    .paragraph {
		.paragraph-normal;
		white-space: break-spaces;
        overflow: hidden;
		text-overflow: ellipsis;
		line-height: 24px;
	}
	&.showMore {
		height: auto;
	}
}

.chips-container {
	margin-left: 4px;
	margin-right: 4px;

	&>*:first-child {
		margin-left: 0px;
	}

	&>*:last-child {
		margin-right: 0px;
	}
}



.read-more {
	margin-top: 16px;
	.paragraph-normal();
	color: @primary-2;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
	img {
		margin-left: 8px;
	}
}
.feature-image {
	width: 100%;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.15);
}


.available-tools {
	text-align: right;

	& > span:first-child {
		text-transform: uppercase;	
		.overline-title;
		color: @gray-3;
	}
	& > span:last-child {
		* {
			width: 24px;
			height: 24px;
			padding: 0 16px;
    		vertical-align: middle;
		}
	}
}

.chips-container {
	display: flex;
	margin-top: 16px;
	.category-chip {
		margin-right: 8px;
		padding: 2px 8px;
		background: #DFD5FC;
		border-radius: 2px;
		font-family: Inter;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0.06em;
		color: #6E648B;
		text-transform: uppercase;
	}
}

.download-divider {
	margin-top: 12px;
	margin-bottom: 12px;
//	width: 620px;
	border-bottom: 1px solid #DEDEDE;
}

.chip-holder {
	margin: 0 4px;
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}

.left-panel {
	margin-bottom: 16px;
}

.headerStyle {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	.iconContainer {
		margin-bottom: 16px;
		width: 56px;
		height: 56px;
		img {
			width: 48px;
			height: 48px;
		}
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.heading-1;
	line-height: 52px;
	word-break: break-word;
}
.box {
  padding-top: 40px;
  position: relative;
  .background-circle {
    position: absolute;
    background: linear-gradient(180deg, #8EA2E5 0%, #C09EE0 100%);
    opacity: 0.3;
    width: 694px;
    height: 694px;
    border-radius: 100%;
    left: 60%;
    bottom: 8%;
    z-index: -2;
  }
}


.author {
	
	padding-top: 16px;
	align-items: center;

	span {
		.paragraph-normal;
		color: @gray-3;
	}
	img {

		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		/* Primary / 3 */
		border: 1px solid @primary-3;
		border-radius: 9px;
		margin-right: 8px;
	}
}

.links {
	display: flex;
	justify-content: center;
	padding: 32px 0;
}


.similar-section-container {
	margin-top: 160px;
	margin-bottom: 40px;
}
