.link {
	padding-left: 8px;
	padding-right: 8px;
	
	a {
		text-decoration: none;
	}
}

.button {
	padding-left: 8px;
	padding-right: 8px;

	width: 182px;
	height: 32px;
	left: 0px;
	top: 0px;

	/* Grey / White */
	background: @white;
	/* Grey / 4 */
	border: 1px solid @gray-4;
	box-sizing: border-box;
	border-radius: 2px;

	.paragraph-small-normal;

	display: flex;
	align-items: center;
	text-align: center;

	img {
		padding: 0 8px;
	}
}